body{
   display: flex;
   height: auto;
   justify-content: left;
   background:lightskyblue;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
   padding: 10px;
   margin-top: 12rem;
}
.heading{
text-align: center;
font-family:chalkboard;
color: black;
font-size: 1.5rem;
}
#add-task-container{
   background: transparent;
   width: 500px;
   padding: 25px 20px;
   box-shadow: 0 0 2rem black;
   display: flex;
   border-radius: .8rem;
   margin-bottom: 2rem;
}
input{
   cursor:text;
   flex: 5;
   margin-right: 10px;
   border-radius: 10px;
   font-size: 1.2rem;
   padding: 17px;
   border: 2px solid green;
   /* text-shadow: 0 0 10px; */
}
input:hover{
   background-color: rgb(33, 64, 64);
   color: white;
   border-color: orange;
}
#add-task{
   flex: .5;
   font-size: 2rem;
   border-radius: 10px;
   background: #fff;
   color: green;
   border: 2px solid green;
}
#add-task:hover{
   cursor:pointer;
   background-color: green;
   color: white;
}

#task-container{
   /* border-left: 5px ridge black; */
   border-radius: 1rem;
   margin-left: 11rem;
   background-color: transparent;
   box-shadow: 0 0 1rem;
}
.task{
   width:35rem;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 1rem;
   padding: .4rem;
   margin-top: 2rem;
   margin-left: 4rem;
   margin-right: 2rem;
   display: flex;
   /* box-shadow: 0 0 1rem black; */
   border: 1px solid black;
}
li{
   font-size: 2rem;
   list-style: none; /* or display:flex; */
   flex: 4;
   padding: 1px;
   overflow-wrap: anywhere;
   margin: 4px -1px;
}
.task button{
   font-size: 2rem;
   width: 3rem; 
   height: 3rem;
   border-radius: 10px;
   background-color: white;
   cursor: pointer;
   margin: 3px;
}
.check-task{
   color: orange;
   border: 2px solid orange;
}
.check-task:hover{
   background-color: orange;
   color: #fff;
}
.delete-task{
   color: red;
   border: 2px solid red;
}
.delete-task:hover{
   color: white;
   background-color: red;
}